div.peoples
{
	column-width: 250px;
	white-space: pre-line;
	-webkit-column-width: 250px;
	-moz-column-width: 250px;
	font-size: smaller;
	text-indent: 0;
	text-align: left;
}

.opened,.closed
{
	font-style: italic;
	font-weight: normal;
	font-size: larger;
	color: #444;
	display: block;
	margin: 5px;
}

.entrance,.exit
{
	font-style: italic;
	display: block;
	color: #141;
}

.exit
{	
	color: #411;
}

.continued
{
	color: #444;
	font-style: italic;
}

.continued ul
{
	color: black;
	font-style: normal;
}

.entrance::before
{
	content: url('<!--SRVROOT-->/resources/enter.png');
}
.exit::before
{
	content: url('<!--SRVROOT-->/resources/exit.gif');
}

.action, .motion
{
	color: #602;
}

.action::before
{
	font-weight: bold;
	content: "ACTION: "
}

.motion::before
{
	font-weight: bold;
	content: "MOTION: "
}

.passed
{
	background: rgba(64, 255, 80, 0.3);
}

.passed::before
{
	content: "\2714 MOTION: ";
}

.failed
{
	background: rgba(255, 80, 64, 0.3);
}

.failed::before
{
	content: "\2718 MOTION: ";
}

.actions, #actions
{
	border: 1px solid black;
	position: absolute;
	right: 20px;
	top: 0;
	background-color: rgba(240, 240, 255, 0.8);
	padding: 0px 20px;
}

.actions>ul, #actions>ul
{
	display: none;
}

.actions>h3::after, #actions>h3::after
{
	content: "(Hover to show)";
	font-size: 12pt;
	padding-left: 10px;
}

.actions:hover>h3::after, #actions:hover>h3::after
{
	content: "";
}

.actions:hover>ul, #actions:hover>ul, #actions:target>ul
{
	display: block;
}

h3.count {
	counter-increment: sec1;
	counter-reset: sec2;
}
h3.count::before
{
	content: counter(sec1) " \2014 \a0";
}

h4.count {
	counter-increment: sec2;
}

h4.count::before
{
	content: counter(sec1) "." counter(sec2) " \2014 \a0";
}

