AddDefaultCharset UTF-8

#DirectoryIndex index.php index.html

AddType 'text/html; charset=UTF-8' .html .php
AddType 'image/png' .png
AddType 'image/jpg' .jpg
AddType 'text/css' .css
AddType 'text/javascript' .js

<IfModule mod_headers.c>
	<Files resources/*>
		Header append Cache-Control public
		Header append Vary Accept-Encoding
	</Files>
</IfModule>

#<IfModule mod_expires.c>
#	ExpiresActive on
#	ExpiresByType text/html "access plus 1 day"
#	ExpiresByType text/css "access plus 1 month"
#	ExpiresByType text/js "access plus 1 month"
#	ExpiresByType image/png "access plus 1 month"
#</IfModule>

<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html
	AddOutputFilterByType DEFLATE text/css
	AddOutputFilterByType DEFLATE text/js
	AddOutputFilterByType DEFLATE image/png
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteBase <!--SRVROOT-->
	RewriteRule ^webcam\.jpeg$ http://icsflibsrv.su.ic.ac.uk/webcam.php [P,L]
</IfModule>

ErrorDocument 404 upgrade.php

